<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate News</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter your URL" />
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)" />
                </form>
            </section>

            <section class="results">
                <strong>Form Results:</strong>
                <div class="varidUrl"></div>
                <ul id="results">
                    <li id="text"></li>
                    <li id="model"></li>
                    <li id="score_tag"></li>
                    <li id="agreement"></li>
                    <li id="subjectivity"></li>
                    <li id="confidence"></li>
                    <li id="irony"></li>
                </ul>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
