form {
    border: 2px solid #dad2d29e;
    border-radius: 16px;
    padding: 40px;
    background: #00ffff52;
}
#name{
    background: #deb6dd;
}

input {
    padding: 10px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    font-size: 20px;
    color: #02787b;
    text-transform: capitalize;
    border-radius: 7px;
    border: 2px solid #cccccc87;
    background: cyan;
}
