header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background: chocolate;
    div {
        color: aliceblue;
        font-family: cursive;
        font-size: 25px;
    }
}
